%h1 simplybetter.io
%p Please login using the form below
.form
  .info-box
    You need an account?
    = link_to('Create account', new_customer_path)

  -if flash.alert
    .notice
      = flash.alert
  -if flash.notice
    .notice.green
      = flash.notice
  = form_tag @post_path do
    .field
      %label
        Email
      = text_field_tag :email, params[:email], placeholder: 'email'
    .field
      %label
        Password
      = password_field_tag :password, nil, placeholder: 'password'

    .field.checkbox
      .pull-left
        = check_box_tag :remember_me, 1, params[:remember_me]
        = label_tag :remember_me, 'Remember me on this device', class: 'small'
    .field
      .pull-right
        .actions
          = submit_tag "LOG ME IN"
    = link_to 'Forgotten password?', new_password_reset_path
