.center-box{class: "#{'error' if flash.alert}"}
  %h1 simplybetter.io
  -if flash.alert
    .notice
      = flash.alert
  = form_tag '/sessions/create' do
    .field
      %label
        %i.icon-envelope
      = text_field_tag :email, params[:email], placeholder: 'email'
    .field
      %label
        %i.icon-lock
      = password_field_tag :password, nil, placeholder: 'password'
    .field
      .actions= submit_tag "Sign in"
  %br
  = link_to('Register', new_customer_path)
