.center-box{class: "#{'error' if flash.alert}"}
  %h1 simplybetter.io
  -if flash.alert
    .notice
      = flash.alert
  -if flash.notice
    .notice.green
      = flash.notice
  = form_tag '/sessions/create' do
    .field
      %label
        %i.fa.fa-envelope
      = text_field_tag :email, params[:email], placeholder: 'email'
    .field
      %label
        %i.fa.fa-lock
      = password_field_tag :password, nil, placeholder: 'password'
    .field
      Remember me?
      = check_box_tag :remember_me, 1, params[:remember_me]
    .field

      .actions= submit_tag "Sign in"
  %br
  = link_to('Register', new_customer_path)
  |
  = link_to 'Forgotten password?', new_password_reset_path