%h1 Manage your FAQ
= render 'shared/alerts', model: current_customer

.faq_form
  = form_for [@application, @faq], html: { role: 'form'} do |f|
    = f.label :question
    = f.text_field :question
    = f.label :answer
    = f.text_area :answer
    = f.button 'Save'

- @faqs.each do |faq|
  .old_faqs
    %h2= faq.question

    .show_answer
      %p= faq.answer
      %button{:class => 'btn btn-primary btn-sm', :action => 'faqs#update'} Edit
      %button{:class => 'btn btn-danger btn-sm', :action => 'faqs#destroy'} Delete