= render '/shared/email_header'

#email-box
  %h1
    = @idea.application.name
  %p
    = @creator.name
    changed the status of the idea below to completed

  = render '/shared/email_idea'

  = render '/shared/email_footer'
