= render '/shared/email_header'

%h3
  = @creator.name
  changed the status of the idea below to completed

.idea-layout
  .idea-item
    %hr
    %a(href="#{WidgetPath.path}/widget?appkey=#{@idea.application.token}&email=#{@receiver.email}&name='#{@idea.creator.name}'#/widget/ideas/#{@idea.id}")
      %h1
        = @idea.title
    %p.desc.ideaView
      = @idea.description
    %hr

= render '/shared/email_footer'
