.idea-layout
  .idea-item
    %hr
    %a(href="#{WidgetPath.path}/widget?appkey=#{@idea.application.token}&email=#{@receiver.email}&name='#{@receiver.name}'#/widget/ideas/#{@idea.id}")
      %h1
        = @idea.title
    %p.desc.ideaView
      = @idea.description
    %hr
