#navbar
  .col-xs-12
    %h1= @application.name
    .links
      = link_to installation_instructions_application_path(@application.id) do
        Installation instructions
      = link_to show_ideas_application_path(@application.id) do
        Show ideas
      = link_to customization_application_path(@application.id) do
        Customization
      = link_to preview_application_path(@application.id) do
        My widget
      - if @application.faqs_enabled
        = link_to application_faqs_path(@application.id) do
          FAQ
