%h1 Create your account
%p Please fill in the fields below
.form
  - if @customer.errors.any?
    .notice
      - @customer.errors.full_messages.reverse_each do |msg|
        %p
          \-
          = msg

  = form_for @customer do |f|
    .field
      %label
        Name
      = f.text_field :name, placeholder: 'name / company'
    .field
      %label
        E-mail
      = f.email_field :email, placeholder: 'email'
    .field
      %label
        Password
      = f.password_field :password, placeholder: 'password'
    .field
      %label
        Confirm password
      = f.password_field :password_confirmation, placeholder: 'confirm password'
    .field
      %label
        Promotion code(optional)
      = f.text_field :promotion_code, placeholder: 'promotion code'
    .field.clearfix
      .pull-right
        = f.submit 'CREATE ACCOUNT'

    .info-box
      Do you already have an account?
      = link_to 'Sign in here', login_path

