.center-box
  %h1 Register customer
  = form_for @customer do |f|
    .field
      = f.label :name
      = f.text_field:name
    .field
      = f.label :email
      = f.email_field:email
    .field
      = f.label :password
      = f.password_field :password
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    .field
      = f.submit 'Register'

  = link_to 'Back to sign in', root_path
