%footer
  .site-content
    %a.fLogo{href: "#wrapper", title: "Go Top"}
    = render 'landing_page/social'
    %ul.fMenu
      = render 'landing_page/navigation_list'
    .clear
    %p.copy
      \©
      = Date.today.year
      SimplyBetter. All rights reserved.
      %span.privacy
        %a(href='/privacy') Privacy Policy
        |
        %a(href='/terms.pdf') Terms & Conditions



  .mobile-menu
    %ul
      %li
        %a.about{href: "#what", title: "About"}
          %span.item
          %span.text About
      %li
        %a.feature{href: "#why", title: "Feature"}
          %span.item
          %span.text Features
      %li
        %a.price{href: "#price", title: "Price"}
          %span.item
          %span.text Pricing
      %li
        %a.faq{href: "#faq", title: "Faq"}
          %span.item
          %span.text FAQ
      - if current_customer
        %li
          = link_to applications_path, class: 'avatar' do
            = image_tag current_customer.gravatar_url, class: 'avatar'
            %span.text Dashboard
      %li.last
        %a.contactF{href: "#contact", title: "Contact"}
          %span.item
          %span.text Contact us
