%section#price.purple-section
  .site-content
    %h2 Price plans
    - @priceplans.each do |plan|
      .pk-box(class="#{plan.default? ? 'pk-white-box' : '' }")
        .pk-left
          %p.pk-title= plan.name.capitalize
          %p.pk-price
            %sup $
            = plan.price
            %sub /month
          %p.pk-text
            Up to
            = plan.max_users
            users
        .pk-right
          = link_to new_customer_path(price_plan: plan.id), class: 'choose' do
            CHOOSE
    .pk-box.last
      .pk-left
        %p.pk-title Enterprise
        %p.pk-price
        %p.pk-text
          %span Let us customize the perfect solution for your business.
      .pk-right
        %a.choose(href='#contact') Contact us
    .clear
    You get a free 30-day trial! No credit card needed
