#wrapper.site-wrapper
  = render 'landing_page/intro'
  = render 'landing_page/about'
  = render 'landing_page/features'
  = render 'landing_page/price_plan'
  = render 'landing_page/contact'
  = render 'landing_page/footer'
