.application_form(ng-app="Settings")
  .col-md-12.col-lg-12
    = form_for @application, html: { role: 'form' } do |f|
      - if @application.errors.any?
        .alert.alert-danger
          %p
            %strong
              Unfortunately some errors prevented you from creating the project:
          %ul
            - @application.errors.full_messages.each do |msg|
              %li= msg
      = f.label :name
      = f.text_field :name, placeholder: 'Project name (ie your website name)'
      - if @current_action == 'new'
        = f.button 'Get started!'
      - else

        = f.label :widget_title_intro
        = f.text_area :intro

        %h2 Support
        .checkbox
          %label
            = f.check_box :support_enabled
            Enable Support (shows a flag in the widget)
        = f.text_field :support_email, placeholder: "default: #{@application.support_emails}", "ng-hide" => "thirdPartySupport"
        .checkbox
          %label
            = f.check_box :third_party_support, "ng-model" => "thirdPartySupport", "ng-init" => "thirdPartySupport = #{@application.third_party_support}"
            Trigger my existing support service
          %p
            When clicked it will trigger window.simplyBetterSupportClick(), so make sure you implement this function and make it trigger whatever you want it to trigger on your site.

        %h2 Faq
        .checkbox
          %label
            = f.check_box :faqs_enabled
            Enable FAQ
        = f.button 'Save'


