.list-group-item{id: "idea_#{f.id}"}
  .row
    .col-xs-12
      %h4.list-group-item-heading= f.title
      %p.list-group-item-text= truncate(f.description, length: 100)
  .row
    .col-xs-12
      %table
        %tr
          %td.meta.upvotes
            #{f.upvotes}
            %i.fa.fa-thumbs-o-up
          %td.meta.downvotes
            #{f.downvotes}
            %i.fa.fa-thumbs-o-down
          %td.meta.comments-toggle
            #{f.comments.count} comments
          %td.meta
            Created by #{f.creator.name}, on #{f.created_at.strftime("%d/%m/%y")}
  .row#comments
    .col-xs-12
      .comments-section
        %ol
          - f.comments.each do |c|
            %li.comment-item
              .avatar
                = image_tag c.creator.gravatar_url
              .content
                %span.username= c.creator.name
                on
                %span= c.created_at.strftime("%d/%m/%y")
                .comment-body
                  = c.body
              .clear
  .switch-list
    = link_to send(path, @application.id,f),
      remote: true,
      title: "Move idea",
      method: method do
      - if method == :post
        %i.fa.fa-arrow-left
      - else
        %i.fa.fa-arrow-right
  .edit-panel
    = link_to edit_application_idea_path(@application.id, f.id) do
      %i.fa.fa-edit
    = link_to application_idea_path(@application.id, f.id), method: :delete, confirm: "Are you sure?" do
      %i.fa.fa-times

  .clear
