=render 'shared/navbar'
.col-lg-12
  = render 'application/installation_instructions'
  = render 'shared/alert_success'
#customize.col-lg-12
  .divider
  %h2 Customize your widget (optional)
  .row
    = render 'application/form'
  = render 'application/select_icon'

.col-lg-12
  .divider
  %h2 Advanced cutomization of icon (optional)
  = render 'application/advanced_customization'
