= render '/shared/email_header'

#email-box
  %h1
    = @idea.application.name

  .idea-layout
    .idea-item
      %hr
      = link_to administrate_group_application_path(@idea.application.id) do
        %h1= @idea.title
      %p.desc.ideaView
        = @idea.description
      %hr

  %div(style='text-align: center')
    = link_to administrate_group_application_path(@idea.application.id) do
      %button GO TO SIMPLYBETTER
  %br

  = render '/shared/email_footer'
