!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    = stylesheet_link_tag  'email'


.idea-layout
  .idea-item
    %p
      = "'#{@creator.name}'"
      just submittet an idea on your SimplyBetter application
      %strong= "'#{@idea.application.name}'"
    %hr
    %a(href="#{WidgetPath.path}/widget?appkey=#{@idea.application.token}&email=#{@receiver.email}&name='#{@idea.creator.name}'#/widget/ideas/#{@idea.id}")
      %h1
        = @idea.title
    %p.desc.ideaView
      = @idea.description
    %hr
