.features
  - @features.each do |f|
    %ol.feature-container
      %li.feature
        %h1
          = f.title
        .desc
          = f.description
        .meta
          by foo at bar
        .vote-buttons
          = link_to '', { :controller => 'votes', :action =>'cast', :feature_id=>"#{f.id}", :value => 1, voter_email: "test@example.com", :token => Application.first.token }, { :method => 'post', :remote => true, :class => "up" }
          .votes
            = f.votes_count
          = link_to '', { :controller => 'votes', :action =>'cast', :feature_id=>"#{f.id}", :value => -1, voter_email: "test@example.com", :token => Application.first.token }, { :method => 'post', :remote => true, :class => "down" }


.clearfix
  = link_to 'New Feature', new_feature_path
