%p#notice= notice

%div
  %h1
    = @feature.title
  %div.desc
    = @feature.description
  %div.meta
    %b Creator:
    = @feature.creator_id

  %div.buttons
    = link_to 'Edit', edit_feature_path(@feature)
    \|
    = link_to 'Back', features_path

%div
  %h1 comments
  .comments
    - @feature.comments.each do |c|
      %p=c.body
      %hr
  .add_comment
    = form_tag "/comments", method: "post" do |f|
      = text_area_tag(:body)
      = hidden_field_tag(:user_id, 'test@test.com')#TODO: update to current_user??
      = hidden_field_tag(:feature_id, @feature.id)
      = submit_tag("Post comment")
