%p#notice= notice

%div
  %h1
    = @feature.title
  %div.desc
    = @feature.description
  %div.meta
    %b Creator:
    = @feature.creator_id

  %div.buttons
    = link_to 'Edit', edit_feature_path(@feature)
    \|
    = link_to 'Back', features_path

%div
  .comments
    - @feature.comments.each do |c|
      %h2=c.title
      %p=c.body
      %hr
