!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://simplybetter.io/assets/widget2.js"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    :javascript
      var _smplyBtr = _smplyBtr || {};
      _smplyBtr.appKey = 'BYGKGJYA';
      _smplyBtr.email = "#{current_customer.try(:email)}";
      _smplyBtr.name = "#{current_customer.try(:name)}" ;

      (function() {
      var sb = document.createElement('script'); sb.type = 'text/javascript'; sb.async = true; sb.src = 'http://simplybetter.io/assets/widget-client.js'; var s = document.getElementsByTagName('body')[0]; s.appendChild(sb);
      })();


    %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}

      %a.navbar-brand{:href => "#"}
        FEATURE VOTING
        -#- unless current_application
        -#  = " - #{current_application.name}"
      %p.navbar-text.pull-right
        - if current_customer
          = "Logged in as #{current_customer.name}"
          |
          = link_to "Admin", customers_path, class: 'navbar-link'
          = link_to "Features", features_path, class: 'navbar-link'
        - else
          = link_to "Log in", login_path, class: 'navbar-link'
          = link_to "Register", new_customer_path, class: 'navbar-link'
    = yield
