!!!
%html(ng-app='Simplybetter')
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{class: "#{@current_controller} #{@current_action}"}
    #logo
      .logo
      .name
        Simply Better
      .customer
        = link_to edit_customer_path(current_customer.id) do
          = image_tag current_customer.gravatar_url
    #navigation
      = render 'shared/sidebar'
    #content
      = yield

    = render 'shared/widget'

