!!!
%html(ng-app='Backoffice' ng-strict-di)
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "application", media: "all"
    = jquery_include_tag :jquery
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{class: "#{@current_controller} #{@current_action}"}
    #logo
      .logo
      .name
        Simply Better
      .customer
        = link_to edit_customer_path(current_customer.id) do
          = image_tag current_customer.gravatar_url, class: 'round'
          Account
    #navigation
      = render 'shared/sidebar'

    - if @application.present? && !@application.new_record?
      #content(ng-controller="applicationsCtrl" ng-init="init('#{@application.token}', '#{@current_customer.email}', '#{@application.id}')")
        = yield
        %toast
    - else
      #content
        = yield

    %toast

    = render 'shared/widget'
    = render 'shared/google_analytics_main' if Rails.env.production?
