!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{class: "#{@current_controller} #{@current_action}"}
    #logo
      .logo
      .name
        Simply Better
    #navigation
      = render 'shared/sidebar'
    #content
      = yield
    -# if current_customer
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
        %a.navbar-brand{:href => "#"}
          SIMPLYBETTER.IO
          - if @application
            = " - #{@application.name}"
        %p.navbar-text.pull-right
          = "Logged in as #{current_customer.name}"
          |
          = link_to "Sign out", sign_out_path, class: 'navbar-link', method: :delete

    :javascript
      var _smplyBtr = _smplyBtr || {};
      _smplyBtr.appKey = 'BYGKGJYA';
      _smplyBtr.email = "#{current_customer.try(:email)}";
      _smplyBtr.name = "#{current_customer.try(:name)}" ;
      (function() {
      var sb = document.createElement('script'); sb.type = 'text/javascript'; sb.async = true; sb.src = "#{WidgetPath.path}/widget_api/applications/client_js.js?appkey="+_smplyBtr.appKey; var s = document.getElementsByTagName('body')[0]; s.appendChild(sb);
      })();

