!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://simplybetter.io/assets/widget2.js"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    :javascript
      (function(){
      var appKey = 'JZTIJBHV';
      var email = "#{current_customer.try(:email)}";
      var name = "#{current_customer.try(:name)}";
      var urlRoot = 'http://localhost:3000';
      var cssId = 'simplyBetterWidgetStyle';
      if (!document.getElementById(cssId))
      {
          var head  = document.getElementsByTagName('head')[0];
          var link  = document.createElement('link');
          link.id   = cssId;
          link.rel  = 'stylesheet';
          link.type = 'text/css';
          link.href = urlRoot + '/assets/widget-client-include.css';
          link.media = 'all';
          head.appendChild(link);
      }
      var e = document.createElement('div');
      e.innerHTML = '<div id="featureVotingBackdropLayer" style="display: none;"></div><div id="simplybetterIframeWrapper" style="display: none;"><div id="featureVotingCloseButton">&times;</div><iframe class="simplybetterIframe" src="' + urlRoot + '/widget?appkey='+appKey+'&email='+email+'&name='+name+'" frameborder="0", scrolling="no"></iframe></div><div id="simplybetterActivateButton"></div>'
      document.getElementsByTagName('body')[0].appendChild(e);

      var iframeWrapper = document.getElementById('simplybetterIframeWrapper');
      var backdrop = document.getElementById('featureVotingBackdropLayer');
      document.getElementById('simplybetterActivateButton').onclick = function() {
        iframeWrapper.removeAttribute('style');
        backdrop.removeAttribute('style');
      }
      document.getElementById('featureVotingCloseButton').onclick = function() {
        iframeWrapper.setAttribute('style','display: none;');
        backdrop.setAttribute('style', 'display: none;');
      }
      })();


    %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}

      %a.navbar-brand{:href => "#"}
        FEATURE VOTING
        -#- unless current_application
        -#  = " - #{current_application.name}"
      %p.navbar-text.pull-right
        - if current_customer
          = "Logged in as #{current_customer.name}"
          |
          = link_to "Admin", customers_path, class: 'navbar-link'
          = link_to "Features", features_path, class: 'navbar-link'
        - else
          = link_to "Log in", login_path, class: 'navbar-link'
          = link_to "Register", new_customer_path, class: 'navbar-link'
    = yield
