!!!
%html{itemscope: '', itemtype: 'http://schema.org/Product'}
  %head
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{content: 'user-scalable=no, initial-scale=1', name: 'viewport'}
    %meta{content: 'telephone=no', name: 'format-detection'}
    = render 'shared/social_meta'
    %meta(name='description' content='SimplyBetter is an Ideas and Innovation management app for user-driven Product Development success. Allow your users to improve your product. Learn more..')
    %title Ideas and Innovation Management App | SimplyBetter.io
    = stylesheet_link_tag    'landing_page', media: 'all'
    = javascript_include_tag 'landing'
    = csrf_meta_tags
    // CrazyEgg snippet
    :javascript
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0041/2194.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  %body(ng-app='LandingPage' ng-strict-di)
    .container(ng-init='scroll = 0')
      %span(scroll-position='scroll')
      %header
        .header-content
          .logoBox
            %img.logo{alt: 'Ideas and Innovation Management App SimplyBetter.io', src: 'img/logo.png'}
            %img.sLogo{alt: 'Ideas and Innovation Management App SimplyBetter.io', src: 'img/sLogo.png'}
          .contactBox
            %ul
              = render 'landing_page/navigation_list'
              - if current_customer
                %li.divider-list
                  %a{href: '#', 'ng-click'=>'display_menu = !display_menu'}
                    = image_tag current_customer.gravatar_url, class: 'avatar'
                %li
                  %a(href='#' ng-click='display_menu = !display_menu')
                    %span ▾
                .customer-menu(ng-if='display_menu')
                  %ul
                    %li
                      = link_to applications_path do
                        Dashboard
                    %li
                      = link_to sign_out_path, method: :delete do
                        Sign out
              - else
                %li.divider-list
                  = link_to 'SIGN IN', login_path
                %li.last
                  = link_to 'GET SIMPLYBETTER', new_customer_path, class: 'contact'
          .clear
      = yield

      = render 'shared/demo_widget'
      = render 'shared/google_analytics_main' if Rails.env.production?
