!!!
%html{itemscope: '', itemtype: 'http://schema.org/Product'}
  %head
    = render 'shared/social_meta'
    -# Todo: Refactor http://davidlesches.com/blog/elegant-titles-and-seo-meta-tags-in-rails
    - if @current_action == 'new'
      - if @current_controller == 'customers'
        %title Register | SimplyBetter - Ideas and Innovation Management App
        %meta(name='description' content='30-day free trial. Use real user data to build your product and improve your product development with SimplyBetter, an Ideas and Innovation management app.')
      - elsif @current_controller == 'sessions'
        %title Login | SimplyBetter - Ideas and Innovation Management App
        %meta(name='description' content='Move from beta to product launch with faster and better iteration. Involve your users in your product development with SimplyBetter, the Ideas and Innovation Management Tool.')
    - else
      %title SimplyBetter

    = stylesheet_link_tag    "application", media: "all"
    = jquery_include_tag :jquery
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{class: "#{@current_controller} #{@current_action}"}
    #logo
      .logo
      .name
        Simply Better
    .white-box
      = yield

    - unless @current_action == "popup_new" || @current_action == "popup_create"
      = render 'shared/widget'
    = render 'shared/google_analytics_main', landing_page: true if Rails.env.production?
