!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "widget/widget", media: "all"
    = javascript_include_tag "widget/widget2"
    = csrf_meta_tags
  %body

    #simplybetterIdeasModal

    :javascript
        $(document).ready(function(){
        SimplyBetterApplication.init.start("#{@appkey}", "#{@email}", "#{@name}", "#{root_url.chop}");
        });
