!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "widget/widget", media: "all"
    -#= javascript_include_tag "widget/widget2"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - @app = Application.find_by_token(@appkey)

    / ANGULAR HELP
    / Controllers are found in angular/controllers folder
    / Directives are found in angular/widget.js.coffe
    / Templates are found in angular/templates folder
    #simplybetterIdeasModal(ng-app='Simplybetter' ng-controller='WidgetCtrl' ng-init="init('#{@appkey}', '#{@email}')")
      .logobar
        %a{href: 'http://simplybetter.io', target: '_blank'}
          .logo
          .logo-text Simply Better
        #simplybetterNotifications
          %div(data-reactid='.0')
          .no-notifications(data-reactid='.0.0')
      #simplybetterNavbar.overview
        %a.home
          %h2= @app.name
        %a.goToIdeas.link{href: '#'}
          .back-arrow
          Back
        %p= @app.intro
      #simplybetterIdeasModalContent
        %idea-new
        #ideas
          %ol.overview.layout
            %li.idea(ng-repeat='idea in ideas')
              %vote
              %idea-item
