!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "widget/widget", media: "all"
    = jquery_include_tag :jquery
    = javascript_include_tag "widget"
    = csrf_meta_tags
  %body
    %script
      token = "#{@appkey}";
      email = "#{@email}";

    - @app = Application.find_by_token(@appkey)

    / ANGULAR HELP
    / Controllers are found in angular/controllers folder
    / Directives are found in angular/widget.js.coffee
    / Templates are found in angular/templates folder
    / Using directives wich are all found in angular/directives with the templates
    #simplybetterIdeasModal(ng-app='Simplybetter' ng-controller='WidgetCtrl' ng-init="init('#{@appkey}', '#{@email}')")
      .logobar
        %a{href: 'http://simplybetter.io', target: '_blank'}
          .logo
          .logo-text Simply Better
        %notifications

      #simplybetterNavbar(ng-class='{ overview: !path }')
        %span(ng-if='path')
          %a.link(href='#' ng-click="reset_path()")
            .back-arrow
            BACK
        %h2= @app.name
        %p= @app.intro
      #simplybetterIdeasModalContent(ng-view='')
