!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    "widget/widget", media: "all"
    = jquery_include_tag :jquery
    = javascript_include_tag "widget"
    = csrf_meta_tags
  %body
    %script

    / ANGULAR HELP
    / Controllers are found in angular/controllers folder
    / Directives are found in angular/widget.js.coffee
    / Templates are found in angular/templates folder
    / Using directives wich are all found in angular/directives with the templates
    #simplybetterIdeasModal(ng-app='Simplybetter' ng-controller='WidgetCtrl')
      .logobar
        %a{href: 'http://simplybetter.io', target: '_blank'}
          .logo
          .logo-text Simply Better
        %faqs-button(ng-show="#{@app.faqs_enabled}")
        %support-button(ng-show="#{@app.support_enabled}")
        %account-settings-button
        %notifications

      #simplybetterNavbar(ng-class='{ overview: !path }' ng-init="app_name='#{@app.name}'")
        %span(ng-if='path')
          %a.link(named-route='overview' ng-click='reset_path()')
            .back-arrow
            BACK
        %h2
          {{app_name}}
        %p= @app.intro

        %idea-new(ng-if='!path || newIdea.title.length')

      #simplybetterIdeasModalContent(ng-view='' stretch-to-fit)
      %toast
    = render 'shared/google_analytics_main' if Rails.env.production?
